{% extends 'shop/base.html' %}
{% load static %}
{% include 'shop/navbar.html '%}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-7">

      <div class="panel-default">
        <div class="panel-heading">
          <center><h2>OUR SERVICES </h2></center>
        </div>
        <div class="panel-body">
          <h2>We sell high quality certified seeds and Fertilizers</h2>
          <h2> Our products prices are subsidized </h2>
          <h2> We offer shipment services to our clients </h2>
          <h2> We qurantee high quality services to our esteemed customers</h2>
        </div>

      </div>
    </div>
    <div class="col-sm-3">

    </div>

  </div>

</div>


{% endblock %}
